

.serach{
    /* width: 60%; */
    display: flex;
    width: 1200px;
    height: 180px;
    margin: 80px 30px;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}

.lists{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.inp{
    text-decoration: none;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 5px;
}