.nav_left{
    width: 30%;
    height: 100%;
    float: left;
    background-color: #232a3a;
}

.nav_title{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav_list{
    color: rgb(255, 255, 255);
    font-size: 18px;
}