.top_bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.top_bar_left{
    width: 245px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background-color: #232a3a;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.top_bar_right{
    width: 15%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    color:  #4465b1;
    margin-right: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav_left{
    position: absolute;
    width: 245px;
    /* height: 100%; */
    background-color: #232a3a;
    text-align: center;
    padding-top: 20px;
}

.nav_left div{
    height: 50px;
    line-height: 50px;
}

.manager{
    color: white;
}

.nav_left div:hover{
    background-color: #7a7e88;
}